 .u-section-1 {
  background-image: linear-gradient(#e8daa1, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 263px auto 0;
}

.u-section-1 .u-text-2 {
  width: 799px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  width: 799px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 30px -12px 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 320px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin: 21px 101px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 99px;
  margin: 31px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: -87px 44px 0 314px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 320px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-6 {
  margin: 51px 109px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 202px;
  height: 202px;
  margin: 4px auto 0 12px;
}

.u-section-1 .u-text-7 {
  margin: -162px 32px 0 277px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 261px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  margin: 28px 101px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 255px;
  height: 48px;
  margin: 21px auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: -47px 45px 0 293px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 261px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 255px;
  height: 143px;
  margin: 29px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: -144px 101px 0 auto;
}

.u-section-1 .u-text-11 {
  margin: 21px 59px 0 320px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 264px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 51px;
  }

  .u-section-1 .u-image-1 {
    width: 205px;
    height: 80px;
    margin-top: -28px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -22px;
    margin-right: 0;
    margin-left: 258px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 208px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 215px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 78px;
  }

  .u-section-1 .u-image-3 {
    width: 205px;
    height: 39px;
    margin-top: -29px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 11px;
    margin-right: 0;
    margin-left: 238px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 215px;
  }

  .u-section-1 .u-image-4 {
    width: 205px;
    height: 115px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -116px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 9px;
    margin-left: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 30px;
    margin-right: 74px;
  }

  .u-section-1 .u-image-1 {
    width: 150px;
    height: 59px;
    margin-top: -7px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-left: 148px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 80px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 98px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 68px;
    margin-right: 74px;
  }

  .u-section-1 .u-image-3 {
    width: 150px;
    height: 29px;
    margin-top: -19px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 128px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    width: 150px;
    height: 84px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -85px;
    margin-right: 74px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 169px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 73px;
  }

  .u-section-1 .u-image-1 {
    width: 260px;
    height: 102px;
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 89px;
  }

  .u-section-1 .u-image-3 {
    width: 260px;
    height: 50px;
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    width: 260px;
    height: 146px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 34px;
  }

  .u-section-1 .u-image-1 {
    width: 160px;
    height: 63px;
    margin-top: -11px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -22px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -162px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 70px;
  }

  .u-section-1 .u-image-3 {
    width: 160px;
    height: 31px;
    margin-top: -21px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 160px;
    height: 90px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -91px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }
}